/* 双伪标签清除父盒子浮动 */
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}



/* 上方选项栏的样式 */
.topSection {
    width: 100%;
    background-color: rgb(241, 241, 241);
    position: sticky;
    z-index: 10;
    top: 0px;
}

/* “云裳集欢迎您，请登录”的浮动样式和左外边距设定 */
.topSection .welcome {
    float: left;
    margin-left: 50px;
}

.topSection .topfont {
    font-size: 12px;
    color: rgb(114, 114, 114);
    margin-top: 5px;
    margin-bottom: 5px;
}

.topSection .login {
    float: left;
    cursor: pointer;
}

.topSection .register {
    float: left;
    margin-left: 20px;
}

.topSection .register a {
    text-decoration: none;
    color: red;
}

.topSection .register a:hover,
.topSection .login:hover,
.topSection .choice .choice-content:hover {
    text-decoration: underline;
}

/* 上方Selection栏右侧中具体选项的字体设置 */
.topSection .choice {
    float: right;
    cursor: pointer;
}

.topSection .choice::after {
    content: "\e839";
    font-family: 'iconfont';
}

.topSection .selection-right-end {
    margin-right: 20px;
}

header {
    width: 90%;
    margin: 0 auto;
}

header .logo {
    float: left;
    position: relative;
    width: 30%;
}

header .logo div {
    width: 4em;
    font-size: 40px;
    position: absolute;
    left: 172px;
    top: 24px;
    color: rgb(98, 160, 213);
    font-weight: bolder;
}

header .logo img {
    height: 100px;
    margin-left: 50px;
}

header .search-bar {
    float: left;
    position: relative;
    width: 45%;
    height: 103.06px;
}

header .search-bar .searchinput {
    width: 500px;
    position: absolute;
    top: 20px;
}

header .search-bar .searchinput input[type="text"] {
    width: 357px;
    height: 2em;
    border-radius: 0px;
    border-color: red;
    outline: none;
    border: 2px solid red;
    padding: 5px;
    box-sizing: border-box;
}

header .search-bar .searchinput input[type="button"] {
    width: 61px;
    height: 32px;
    border-radius: 0px;
    border-color: red;
    background-color: red;
    cursor: pointer;
    color: white;
    outline: none;
    box-shadow: none;
    border: 4px solid red;
    transition: opacity 0.5s linear 0.1s;
}

header .search-bar .searchinput input[type="button"]:hover {
    opacity: 0.7;
}

header .search-bar .hot-search {
    width: 500px;
    position: absolute;
    font-size: 12px;
    top: 61px;
    left: 6px;
}

header .search-bar .hot-search span {
    display: inline-block;
    margin-left: 7px;
    font-weight: 250;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.5s linear 0.1s;
}

header .search-bar .hot-search span:hover {
    opacity: 1;
}

header .shopcar-area {
    float: left;
    width: 15%;
}

header .shopcar-area .myshopcar {
    margin-top: 7px;
    border: 1px solid rgb(223, 223, 223);
    background-color: rgb(241, 241, 241);
    cursor: pointer;
    padding-top: 19px;
    padding-left: 10px;
    position: relative;
    box-sizing: border-box;
    height: 4em;
    width: 137px;
}

header .shopcar-area .message {
    position: absolute;
    top: -8px;
    right: -5px;
    background-color: red;
    padding-left: 7px;
    padding-right: 7px;
    box-sizing: border-box;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    color: white;
}

.quickarrive{
    position: fixed;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
}

.quickarrive div{
    text-align: center;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid rgb(114, 114, 114);
    border-bottom: 1px solid rgb(114, 114, 114);
}

.quickarrive div a{
    text-decoration: none;
    color: rgb(114, 114, 114);
}

.quickarrive div:hover{
    background-color: rgb(114, 114, 114);
}

.quickarrive div:hover a{
    color:white;
}


nav {
    width: 90%;
    margin: 0 auto;
}

nav .allType {
    float: left;
    background-color: rgb(177, 25, 26);
    width: 20%;
    height: 45px;
    color: #fff;
    text-align: center;
    line-height: 45px;
    font-size: 16px;
}

nav .allMarket {
    float: left;
    line-height: 45px;

}

nav .allMarket span {
    display: inline-block;
    padding-left: 24px;
    padding-right: 24px;
    color: rgb(102, 102, 102);
    cursor: pointer;
    transition: color 0.5s linear 0.1s;
}

nav .allMarket span:hover {
    color: rgb(177, 25, 26);
}


.w {
    width: 90%;
    margin: 0 auto;
}

.w .item-type {
    float: left;
    width: 20%;
}

.w .item-type .item {
    line-height: 19px;
    position: relative;

    background-color: rgb(200, 22, 35);
    color: white;
    padding: 10px;
    font-size: 13px;
    cursor: pointer;

    transition: background-color 0.5s ease 0.1s, color 0.5s ease 0.1s;
}

.w .item-type .item a {
    color: white;
    text-decoration: none;

    transition: background-color 0.5s ease 0.1s, color 0.5s ease 0.1s;
}

.w .item-type .item::before {
    position: absolute;

    content: "\e840";

    font-family: 'iconfont';

    right: 15px;

}

.w .item-type .item:hover a,
.w .item-type .item:hover {
    color: rgb(200, 22, 35);
}

.w .item-type .item:hover {
    color: rgb(200, 22, 35);
    background-color: white;

}

.w .lunbo {
    float: left;
    width: 60%;
    box-sizing: border-box;
    margin-top: 7.18px;
    padding-left: 1px;
    padding-right: 1px;
    box-sizing: border-box;

    position: relative;

    cursor: pointer;
}

.w .lunbo img {
    width: 100%;
    height: 577.82px;
    vertical-align: bottom;
    border-radius: 30px;
}



.w .lunbo .lunbo-content1 {
    position: absolute;
    top: 80px;
    left: 90px;
    background-color: rgb(220, 0, 41);
    color: white;
    border-radius: 8px;
    padding: 5px;
    font-size: 25px;
    font-style: italic;
    font-weight: 600;
}

.w .lunbo .lunbo-content2 {
    position: absolute;
    top: 136px;
    left: 90px;
    color: rgb(255, 255, 230);
    border-radius: 8px;
    padding: 5px;
    font-size: 30px;
    font-weight: bold;
}

.w .lunbo .lunbo-content3 {
    position: absolute;
    top: 179px;
    left: 90px;
    color: rgb(255, 255, 230);
    border-radius: 8px;
    padding: 5px;
    font-size: 30px;
    font-weight: bold;
}

.w .lunbo .lunbo-content4 {
    position: absolute;
    top: 215px;
    left: 90px;
    color: rgb(255, 255, 230);
    border-radius: 8px;
    padding: 5px;
    font-size: 20px;
}

.w .lunbo .bar {
    position: absolute;
    bottom: 27px;
    left: 82px;
}

.w .lunbo .bar .spot {
    display: inline-block;
    background-color: white;
    width: 15px;
    height: 15px;
    border-radius: 7.5px;
    margin: 8px;
    opacity: 0.6;
}

.w .lunbo .bar .spot:hover {
    opacity: 1;
}

.w .lunbo .last {
    color: white;
    background-color: rgb(0, 0, 0, 0.3);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1px;
    font-size: 40px;
    border-top-right-radius: 30%;
    border-bottom-right-radius: 30%;
    opacity: 0;
    transition: opacity 0.3s ease 0.05s,background-color 0.3s ease 0.05s;
}

.w .lunbo .next {
    color: white;
    background-color: rgb(0, 0, 0, 0.3);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1px;
    font-size: 40px;
    border-top-left-radius: 30%;
    border-bottom-left-radius: 30%;
    opacity: 0;
    transition: opacity 0.3s ease 0.05s,background-color 0.3s ease 0.05s;
}

.w .lunbo:hover .next,
.w .lunbo:hover .last {
    opacity: 1;
}

.w .lunbo .next:hover,
.w .lunbo .last:hover{
    background-color: rgb(0, 0, 0, 0.5);
}

.w .news {
    float: left;
    width: 20%;
    margin-top: 7.18px;
    box-sizing: border-box;
    padding-left: 1px;
    height: 200px;
    color: rgb(102, 102, 102);
}

.w .news .news-title {
    height: 50px;
    width: 100%;
    position: relative;
    border: 1px solid rgb(228, 228, 228);
    border-bottom: 1px dotted rgb(228, 228, 228);
    box-sizing: border-box;
}

.w .news .news-title::before {
    content: "云裳集快报";
    position: absolute;
    top: 14px;
    left: 13px;
    font-weight: 700;
}

.w .news .news-title::after {
    content: "更多\e840";
    font-family: 'iconfont';

    position: absolute;
    top: 14px;
    right: 10px;
}

.w .news .news-content {
    border: 1px solid rgb(228, 228, 228);
    border-top: 1px dotted rgb(228, 228, 228);
    margin-top: -1px;
    box-sizing: border-box;
}

.w .news .news-content a {
    display: block;

    text-decoration: none;
    color: rgb(114, 114, 114);

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    font-size: 12px;

    line-height: 31px;

    transition: color 0.3s ease 0.05s;
}

.w .news .news-content a:hover {
    color: rgb(200, 22, 35);
}

.w .news .news-cost {
    width: 100%;
    height: 90px;
    border: 1px solid rgb(228, 228, 228);
    border-collapse: collapse;
    margin-top: -0.5px;
}

.w .news .news-cost td {
    border: 1px solid rgb(228, 228, 228);
    position: relative;
    height: 90px;

    cursor: pointer;
}

.w .news .news-cost td:hover{
    color: white;
    background-color: rgb(114, 114, 114);
}

.w .news .news-cost .cost1::before {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);

    content: "\e638";
    font-family: 'iconfont';
    font-size: 45px;
}

.w .news .news-cost .cost1::after {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);

    content: "话费";
    font-family: 'iconfont';
    font-size: 12px;
}

.w .news .news-cost .cost2::before {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);

    content: "\e615";
    font-family: 'iconfont';
    font-size: 45px;
}

.w .news .news-cost .cost2::after {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);

    content: "水费";
    font-family: 'iconfont';
    font-size: 12px;
}

.w .news .news-cost .cost3::before {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);

    content: "\e60f";
    font-family: 'iconfont';
    font-size: 45px;
}

.w .news .news-cost .cost3::after {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);

    content: "电费";
    font-family: 'iconfont';
    font-size: 12px;
}

.w .news .news-cost .cost4::before {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);

    content: "\e613";
    font-family: 'iconfont';
    font-size: 45px;
}

.w .news .news-cost .cost4::after {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);

    content: "燃气费";
    font-family: 'iconfont';
    font-size: 12px;
}

.w .news .news-star {
    background-color: orange;
    height: 100px;
    padding-top: 40px;
    text-align: center;
    box-sizing: border-box;
    margin-top: 24.9px;
}

.w .today-recom{
    float: left;
    background-color: rgb(92, 82, 81);

    width: calc(12% + 35px);
    height: 200px;

    position: relative;
}

.w .today-recom::before{
    position: absolute;

    font-family: "iconfont";
    content: "\e61d";

    color: white;
    font-size: 80px;

    left: 50%;
    transform: translateX(-50%);
    top: 30px;

}

.w .today-recom::after{
    position: absolute;

    content: "今日推荐";

    color: white;
    font-size: 22px;

    left: 50%;
    transform: translateX(-50%);
    top: 116px;

}

.w ul{
    margin: 0px;
}

.w .recom-content{
    float: left;
    width: 22%;

    list-style-type: none;
    background-image: url(../public/recom_03.jpg);
    background-size: 100% 100%;

    height: 200px;

    position: relative;

    cursor: pointer;
}

.w .recom-content::after{
    content: "";
    position: absolute;

    width: 1px;
    height: 145px;

    background-color: #ddd;

    top: 50%;
    transform: translateY(-50%);
}

.item-box{
    margin-top: 50px;
}

.item-box .box-head{
    line-height: 45px;
    border-bottom: 3px solid rgb(177, 25, 26);
}

.item-box .box-head .item-title{
    float: left;
    color: rgb(177, 25, 26);

    font-size: large;
}

.item-box .box-head li{
    float: right;
    color: rgb(114, 114, 114);
}

.item-box .box-head li:hover a{
    color: rgb(177, 25, 26);
}

.item-box .box-head li a{
    text-decoration: none;
    color: rgb(114, 114, 114);
    padding-left: 5px;
    padding-right: 5px;
}

.item-box .box-display .col-11{
    float: left;
    position: relative;

    width: 19%;
    height: 350px;
    background-color: rgb(249, 249, 249);

    cursor: pointer;
    
    
}

.item-box .box-display .col-11 li{
    position: absolute;

    width: 40%;
    border-bottom: 1px solid rgb(102, 102, 102);
    text-align: center;
    box-sizing: border-box;

    color: rgb(102, 102, 102);
    z-index: 5;
    

    font-weight: bold;
}

.item-box .box-display .col-11 li:hover{
    color: rgb(0,0,0, 0.8);
}

.item-box .box-display .col-11 .tv{

    width: 80%;
    height: 250px;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);

    background-image: url(../public/TV.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.item-box .box-display .col-12{
    float: left;
    width: 22%;
    height: 350px;
    background-color: rgb(174, 215, 219);
    position: relative;
}

.item-box .box-display .col-12 img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 350px;
}

.item-box .box-display .col-13,.item-box .box-display .col-14,.item-box .box-display .col-15{
    float: left;
    width: 19.667%;
    height: 350px;
}

.item-box .box-display .col-13 div:nth-child(1){
    height: 50%;
    width: 100%;

    background-image: url(../public/computer1.png);
    background-size: contain;
    background-repeat: no-repeat;
    box-sizing: border-box;
    border-right: 1px solid rgb(102, 102, 102);
    border-bottom: 1px solid rgb(102, 102, 102);
}

.item-box .box-display .col-13 div:nth-child(2){
    height: 50%;
    width: 100%;

    background-image: url(../public/computer2.png);
    background-size: contain;
    background-repeat: no-repeat;
    box-sizing: border-box;
    border-right: 1px solid rgb(102, 102, 102);
    border-bottom: 1px solid rgb(102, 102, 102);
    background-position: 50%;
}

.item-box .box-display .col-14 div:nth-child(1){
    height: 100%;
    width: 100%;

    background-image: url(../public/wyl.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    box-sizing: border-box;
    border-right: 1px solid rgb(102, 102, 102);
    border-bottom: 1px solid rgb(102, 102, 102);
    background-position: 50%;
}

.item-box .box-display .col-15 div:nth-child(1){
    height: 50%;
    width: 100%;

    background-image: url(../public/computer1.png);
    background-size: contain;
    background-repeat: no-repeat;
    box-sizing: border-box;
    border-right: 1px solid rgb(102, 102, 102);
    border-bottom: 1px solid rgb(102, 102, 102);
}

.item-box .box-display .col-15 div:nth-child(2){
    height: 50%;
    width: 100%;

    background-image: url(../public/computer2.png);
    background-size: contain;
    background-repeat: no-repeat;
    box-sizing: border-box;
    border-right: 1px solid rgb(102, 102, 102);
    border-bottom: 1px solid rgb(102, 102, 102);
    background-position: 50%;
}

#jiadian .col-14 div:nth-child(1){
    background-image: url(../public/qz.jpg);
}

#shuma .col-14 div:nth-child(1){
    background-image: url(../public/ql.jpg);
}

#diannao .col-14 div:nth-child(1){
    background-image: url(../public/sx.jpg);
}

#jiajv .col-14 div:nth-child(1){
    background-image: url(../public/wyl.jpg);
}

#fuzhuangcheng .col-14 div:nth-child(1){
    background-image: url(../public/zz.jpg);
}

footer{
    background-color: rgb(245, 245, 245);

}

footer .promise li{
    float: left;
    width: 25%;
    font-size: 12px;
    color: rgb(102, 102, 102);
}

footer .promise li .zhengpinbaozhang{
    float: left;
    width: 50px;
    height: 50px;
    background-image: url(../public/icons.png);

    background-position: 307px -2px;
    position: relative;
    top: 10px;
}

footer .promise li .peisongjishi{
    float: left;
    width: 50px;
    height: 50px;
    background-image: url(../public/icons.png);

    background-position: 305px 212px;
    position: relative;
    top: 10px;
}

footer .promise li .pinzhibaozhang{
    float: left;
    width: 50px;
    height: 50px;
    background-image: url(../public/icons.png);

    background-position: 303px 160px;
    position: relative;
    top: 10px;
}

footer .promise li .qingsonggouwu{
    float: left;
    width: 50px;
    height: 50px;
    background-image: url(../public/icons.png);

    background-position: 302px 376px;
    position: relative;
    top: 10px;
}

footer .service-entry li{
    float: left;
    width: 15%;
}

footer .service-entry h3{
    color: rgb(102, 102, 102);
}
footer .service-entry p,footer .service-entry p a{
    margin: 3px;
    color: rgb(102, 102, 102);
    text-decoration: none;
}

footer .service-entry p a:hover{
    color: rgb(177, 25, 26);
}

footer .information .more-help{
    text-align: center;
    color: rgb(102, 102, 102);
}

footer .information .more-help a{
    text-decoration: none;
    color: rgb(102, 102, 102);
}

footer .information .more-help a:hover{
    color: rgb(177, 25, 26);
}

footer .information .contact{
    text-align: center;
    color: rgb(102, 102, 102);
}


