<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>云裳集-综合网购首选-正品低价、品质保障、配送及时、轻松购物！</title>
    <!-- 网站说明 -->
    <meta name="description"
        content="云裳集商城-专业的综合网上购物商城,销售家电、数码通讯、电脑、家居百货、服装服饰、母婴、图书、食品等数万个品牌优质商品.便捷、诚信的服务，为您提供愉悦的网上购物体验!" />
    <!-- 关键字 -->
    <meta name="keywords" content="网上购物,网上商城,手机,笔记本,电脑,MP3,CD,VCD,DV,相机,数码,配件,手表,存储卡,京东，淘宝，拼多多" />

    <!-- 引入favicon图标 -->
    <link rel="shortcut icon" href="../public/favicon.ico" />

    <!-- 引入bootcdn中的normalize初始化 -->
    <link href="https://cdn.bootcdn.net/ajax/libs/normalize/8.0.1/normalize.min.css" rel="stylesheet">

    <!-- 引入项目自定义的css样式文件 -->
    <link rel="stylesheet" href="../public/style.css">

    <!-- 引入字体图标"上下左右" -->
    <link rel="stylesheet" href="../public/font_UpDownLeftRight/iconfont.css">

    <!-- 引入字体图标"历史、我的、收藏、购物车" -->
    <link rel="stylesheet" href="../public/font_HistoryMineCollectionShopcar/iconfont.css">
</head>

<body>
    <!-- 上方选项栏 -->
    <section class="topSection clearfix">
        <!-- 上方选项栏左侧：登录与注册 -->
        <div class="welcome topfont">云裳集欢迎您！</div>
        <div class="login topfont">请登录</div>
        <div class="register topfont">
            <a href="./register.html">此处注册</a>
        </div>

        <!-- 上方导选项右侧：具体选项 -->
        <div class="choice topfont selection-right-end helpicon">
            <span>| </span>
            <span class="iconfont">&#xe620;</span>
            <span class="choice-content">帮助中心</span>
        </div>
        <div class="choice topfont">
            <span>| </span>
            <span class="iconfont">&#xe8b9;</span>
            <span class="choice-content">收藏夹</span>
        </div>
        <div class="choice topfont">
            <span>| </span>
            <span class="iconfont">&#xe699;</span>
            <span class="choice-content">购物车</span>
        </div>
        <div class="choice topfont">
            <span>| </span>
            <span class="iconfont">&#xe647;</span>
            <span class="choice-content">我的云裳集</span>
        </div>
        <div class="choice topfont">
            <span>| </span>
            <span class="iconfont">&#xe61d;</span>
            <span class="choice-content">已买到的宝贝</span>
        </div>
    </section>

    <!-- 头部用于放置logo与搜索框 -->
    <header class="clearfix">
        <div class="logo">
            <img src="../public/logo_CloudLoom.jpg">
            <div>云裳集</div>
        </div>

        <div class="search-bar">
            <div class="searchinput">
                <input type="text"><input type="button" value="搜索">
            </div>

            <div class="hot-search">
                <span style="color: red;">魅族20</span>
                <span>Thinkbook14</span>
                <span>9.9元团购</span>
                <span>百亿补贴</span>
                <span>deepseek</span>
                <span>Pytorch深度学习</span>
            </div>
        </div>

        <div class="shopcar-area">
            <div class="myshopcar">
                <span class="iconfont"
                    style="color: rgb(253, 168, 155);font-weight: bolder;font-size: large;">&#xe699;</span><span style="color: rgb(102, 102, 102);">我的购物车</span><span style="color: rgb(102, 102, 102);" class="iconfont">&#xe840;</span>
                <div class="message">
                    8
                </div>
            </div>
        </div>
    </header>

    <nav class="clearfix">
        <div class="allType">
            全部商品分类
        </div>
        <div class="allMarket">
            <span>百亿补贴</span>
            <span>限时团购</span>
            <span>服装城</span>
            <span>美妆馆</span>
            <span>传智超市</span>
            <span>全球购</span>
            <span>闪购</span>
            <span>拍卖</span>
        </div>
    </nav>

    <hr style="height: 3px; border: none;background-color: rgb(177, 25, 26);margin: 0;">

</body>

</html>