<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>云裳集-综合网购首选-正品低价、品质保障、配送及时、轻松购物！</title>
    <!-- 网站说明 -->
    <meta name="description"
        content="云裳集商城-专业的综合网上购物商城,销售家电、数码通讯、电脑、家居百货、服装服饰、母婴、图书、食品等数万个品牌优质商品.便捷、诚信的服务，为您提供愉悦的网上购物体验!" />
    <!-- 关键字 -->
    <meta name="keywords" content="网上购物,网上商城,手机,笔记本,电脑,MP3,CD,VCD,DV,相机,数码,配件,手表,存储卡,京东，淘宝，拼多多" />

    <!-- 引入favicon图标 -->
    <link rel="shortcut icon" href="../public/favicon.ico" />

    <!-- 引入bootcdn中的normalize初始化 -->
    <link href="https://cdn.bootcdn.net/ajax/libs/normalize/8.0.1/normalize.min.css" rel="stylesheet">

    <!-- 引入项目自定义的css样式文件 -->
    <link rel="stylesheet" href="../public/style.css">

    <!-- 引入字体图标"上下左右" -->
    <link rel="stylesheet" href="../public/font_UpDownLeftRight/iconfont.css">

    <!-- 引入字体图标"历史、我的、收藏、购物车" -->
    <link rel="stylesheet" href="../public/font_HistoryMineCollectionShopcar/iconfont.css">

    <!-- 引入字体图标"话费、水费、电费、燃气费" -->
    <link rel="stylesheet" href="../public/font_FourCost/iconfont.css">

    <link rel="stylesheet" href="../public/hexingzi.ttf">
</head>

<body>
    <!-- 上方选项栏 -->
    <section class="topSection clearfix">
        <!-- 上方选项栏左侧：登录与注册 -->
        <div class="welcome topfont">云裳集欢迎您！</div>
        <div class="login topfont register">
            <a href="./login.html">请登录</a>
        </div>
        <div class="register topfont">
            <a href="./register.html">此处注册</a>
        </div>

        <!-- 上方导选项右侧：具体选项 -->
        <div class="choice topfont selection-right-end helpicon">
            <span>| </span>
            <span class="iconfont">&#xe620;</span>
            <span class="choice-content">帮助中心</span>
        </div>
        <div class="choice topfont">
            <span>| </span>
            <span class="iconfont">&#xe8b9;</span>
            <span class="choice-content">收藏夹</span>
        </div>
        <div class="choice topfont">
            <span>| </span>
            <span class="iconfont">&#xe699;</span>
            <span class="choice-content">购物车</span>
        </div>
        <div class="choice topfont">
            <span>| </span>
            <span class="iconfont">&#xe647;</span>
            <span class="choice-content">我的云裳集</span>
        </div>
        <div class="choice topfont">
            <span>| </span>
            <span class="iconfont">&#xe61d;</span>
            <span class="choice-content">已买到的宝贝</span>
        </div>
    </section>

    <!-- 头部用于放置logo与搜索框 -->
    <header class="clearfix" id="top">
        <a class="logo" href="../templates/home.html">
            <img src="../public/logo_CloudLoom.jpg">
            <div>云裳集</div>
        </a>

        <div class="search-bar">
            <div class="searchinput">
                <input type="text" placeholder="请输入您要搜索的商品"><input type="button" value="搜索">
            </div>

            <div class="hot-search">
                <span style="color: red;">魅族20</span>
                <span>Thinkbook14</span>
                <span>9.9元团购</span>
                <span>百亿补贴</span>
                <span>deepseek</span>
                <span>Pytorch深度学习</span>
            </div>
        </div>

        <div class="shopcar-area">
            <div class="myshopcar">
                <span class="iconfont"
                    style="color: rgb(253, 168, 155);font-weight: bolder;font-size: large;">&#xe699;</span><span
                    style="color: rgb(102, 102, 102);">我的购物车</span><span style="color: rgb(102, 102, 102);"
                    class="iconfont">&#xe840;</span>
                <div class="message">
                    8
                </div>
            </div>
        </div>
    </header>

    <div class="quickarrive">
        <div class="tab1">
            <a href="#top">回到顶部</a>
        </div>
        <div class="tab2">
            <a href="#jiadian">家用电器</a>
        </div>
        <div class="tab3">
            <a href="#shuma">数码产品</a>
        </div>
        <div class="tab4">
            <a href="#diannao">电脑办公</a>
        </div>
        <div class="tab5">
            <a href="#jiajv">家具</a>
        </div>
        <div class="tab6">
            <a href="#fuzhuangcheng">服装城</a>
        </div>
    </div>

    <nav class="clearfix">
        <div class="allType">
            全部商品分类
        </div>
        <div class="allMarket">
            <span>百亿补贴</span>
            <span>限时团购</span>
            <span>服装城</span>
            <span>美妆馆</span>
            <span>传智超市</span>
            <span>全球购</span>
            <span>闪购</span>
            <span>拍卖</span>
        </div>
    </nav>

    <hr style="height: 3px; border: none;background-color: rgb(177, 25, 26);margin: 0;">
    <div class="w clearfix">
        <div class="item-type">
            <div class="item">
                <a href="#">家用电器</a>
            </div>
            <div class="item">
                <a href="#">手机、数码、通信</a>
            </div>
            <div class="item">
                <a href="#">电脑、办公</a>
            </div>
            <div class="item">
                <a href="#">家居、家具、家装、厨具</a>
            </div>
            <div class="item">
                <a href="#">男装、女装、童装、内衣</a>
            </div>
            <div class="item">
                <a href="#">个户化妆、清洁用品、宠物</a>
            </div>
            <div class="item">
                <a href="#">鞋靴、箱包、珠宝、奢侈品</a>
            </div>
            <div class="item">
                <a href="#">运动户外、钟表</a>
            </div>
            <div class="item">
                <a href="#">汽车、汽车用品</a>
            </div>
            <div class="item">
                <a href="#">母婴、玩具乐器</a>
            </div>
            <div class="item">
                <a href="#">食品、酒类、生鲜、特产</a>
            </div>
            <div class="item">
                <a href="#">医疗保健</a>
            </div>
            <div class="item">
                <a href="#">图书、音像、电子书</a>
            </div>
            <div class="item">
                <a href="#">彩票、旅行、充值、票务</a>
            </div>
            <div class="item">
                <a href="#">
                    理财、众筹、白条、保险
                </a>
            </div>
        </div>

        <div class="lunbo">
            <img src="../public/rose.gif" alt="">
            <div class="lunbo-content1">情人节专场</div>
            <div class="lunbo-content2">情人节礼遇抢购</div>
            <div class="lunbo-content3">最低至21折~</div>
            <div class="lunbo-content4">2.14全天热购</div>
            <div class="bar clearfix">
                <span class="spot"></span>
                <span class="spot"></span>
                <span class="spot"></span>
                <span class="spot"></span>
                <span class="spot"></span>
            </div>
            <div class="last iconfont">&#xe83d;</div>
            <div class="next iconfont">&#xe840;</div>
        </div>

        <div class="news">
            <div class="news-title"></div>
            <div class="news-content">
                <a href="#">
                    <strong>【重磅】</strong>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint tempora magni quas ipsam dolores
                    rerum sed totam veniam laudantium nulla aut accusamus ex architecto repellat, quasi reiciendis
                    dolorum quam aspernatur.
                </a>
                <a href="#">
                    <strong>【重磅】</strong>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint tempora magni quas ipsam dolores
                    rerum sed totam veniam laudantium nulla aut accusamus ex architecto repellat, quasi reiciendis
                    dolorum quam aspernatur.
                </a>
                <a href="#">
                    <strong>【重磅】</strong>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint tempora magni quas ipsam dolores
                    rerum sed totam veniam laudantium nulla aut accusamus ex architecto repellat, quasi reiciendis
                    dolorum quam aspernatur.
                </a>
                <a href="#">
                    <strong>【重磅】</strong>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint tempora magni quas ipsam dolores
                    rerum sed totam veniam laudantium nulla aut accusamus ex architecto repellat, quasi reiciendis
                    dolorum quam aspernatur.
                </a>
                <a href="#">
                    <strong>【重磅】</strong>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint tempora magni quas ipsam dolores
                    rerum sed totam veniam laudantium nulla aut accusamus ex architecto repellat, quasi reiciendis
                    dolorum quam aspernatur.
                </a>
                <a href="#">
                    <strong>【重磅】</strong>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint tempora magni quas ipsam dolores
                    rerum sed totam veniam laudantium nulla aut accusamus ex architecto repellat, quasi reiciendis
                    dolorum quam aspernatur.
                </a>
                <a href="#">
                    <strong>【重磅】</strong>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint tempora magni quas ipsam dolores
                    rerum sed totam veniam laudantium nulla aut accusamus ex architecto repellat, quasi reiciendis
                    dolorum quam aspernatur.
                </a>
            </div>
            <table class="news-cost">
                <tr>
                    <td class="cost1"></td>
                    <td class="cost2"></td>
                    <td class="cost3"></td>
                    <td class="cost4"></td>
                </tr>
                <tr>
                    <td class="cost1"></td>
                    <td class="cost2"></td>
                    <td class="cost3"></td>
                    <td class="cost4"></td>
                </tr>
            </table>
            <div class="news-star">
                <span>458x151</span>
            </div>
        </div>
    </div>

    <div class="w clearfix" style="margin-top: 20px;">
        <div class="today-recom"></div>
        <ul>
            <li class="recom-content"></li>
            <li class="recom-content"></li>
            <li class="recom-content"></li>
            <li class="recom-content"></li>
        </ul>
    </div>


    <!-- 1、家用电器 -->
    <div class="w item-box clearfix" id="jiadian">
        <div class="box-head clearfix">
            <div class="item-title">家用电器</div>
            <ul type="none">
                <li>
                    <a href="#">高端电器</a>
                </li>
                <li>
                    <a href="#">大家电</a>
                    |
                </li>
                <li>
                    <a href="#">生活电器</a>
                    |
                </li>
                <li>
                    <a href="#">厨房电器</a>
                    |
                </li>
                <li>
                    <a href="#">个护健康</a>
                    |
                </li>
                <li>
                    <a href="#">应季电器</a>
                    |
                </li>
                <li>
                    <a href="#">空气/净水</a>
                    |
                </li>
                <li>
                    <a href="#">热门</a>
                    |
                </li>
            </ul>
        </div>
        <div class="box-display">
            <div class="col-11">
                <ul type="none">
                    <li style="top: 5%;left: 25%;transform: translateX(-50%);">百亿补贴</li>
                    <li style="top: 5%;left: 75%;transform: translateX(-50%);">百亿补贴</li>
                    <li style="top: 15%;left: 25%;transform: translateX(-50%);">百亿补贴</li>
                    <li style="top: 15%;left: 75%;transform: translateX(-50%);">百亿补贴</li>
                    <li style="top: 25%;left: 25%;transform: translateX(-50%);">百亿补贴</li>
                    <li style="top: 25%;left: 75%;transform: translateX(-50%);">百亿补贴</li>
                </ul>
                <div class="tv"></div>
            </div>
            <div class="col-12"><img src="../public/pot.png" alt=""></div>
            <div class="col-13">
                <div></div>
                <div></div>
            </div>
            <div class="col-14">
                <div></div>
            </div>
            <div class="col-15">
                <div></div>
                <div></div>
            </div>
        </div>
    </div>

    <!-- 2、数码产品 -->
    <div class="w item-box clearfix" id="shuma">
        <div class="box-head clearfix">
            <div class="item-title">数码产品</div>
            <ul type="none">
                <li>
                    <a href="#">小米</a>
                    |
                </li>
                <li>
                    <a href="#">华为</a>
                    |
                </li>
                <li>
                    <a href="#">魅族</a>
                    |
                </li>
                <li>
                    <a href="#">iPad</a>
                    |
                </li>
                <li>
                    <a href="#">iPhone</a>
                    |
                </li>
            </ul>
        </div>
        <div class="box-display">
            <div class="col-11">
                <ul type="none">
                    <li style="top: 5%;left: 25%;transform: translateX(-50%);">百亿补贴</li>
                    <li style="top: 5%;left: 75%;transform: translateX(-50%);">百亿补贴</li>
                    <li style="top: 15%;left: 25%;transform: translateX(-50%);">百亿补贴</li>
                    <li style="top: 15%;left: 75%;transform: translateX(-50%);">百亿补贴</li>
                    <li style="top: 25%;left: 25%;transform: translateX(-50%);">百亿补贴</li>
                    <li style="top: 25%;left: 75%;transform: translateX(-50%);">百亿补贴</li>
                </ul>
                <div class="tv"></div>
            </div>
            <div class="col-12"><img src="../public/pot.png" alt=""></div>
            <div class="col-13">
                <div></div>
                <div></div>
            </div>
            <div class="col-14">
                <div></div>
            </div>
            <div class="col-15">
                <div></div>
                <div></div>
            </div>
        </div>
    </div>

    <!-- 3、电脑办公 -->
    <div class="w item-box clearfix" id="diannao">
        <div class="box-head clearfix">
            <div class="item-title">电脑办公</div>
            <ul type="none">
                <li>
                    <a href="#">显卡</a>
                </li>
                <li>
                    <a href="#">主板</a>
                    |
                </li>
                <li>
                    <a href="#">硬盘</a>
                    |
                </li>
                <li>
                    <a href="#">U盘</a>
                    |
                </li>
                <li>
                    <a href="#">笔记本电脑</a>
                    |
                </li>
                <li>
                    <a href="#">台式机整机</a>
                    |
                </li>
            </ul>
        </div>
        <div class="box-display">
            <div class="col-11">
                <ul type="none">
                    <li style="top: 5%;left: 25%;transform: translateX(-50%);">百亿补贴</li>
                    <li style="top: 5%;left: 75%;transform: translateX(-50%);">百亿补贴</li>
                    <li style="top: 15%;left: 25%;transform: translateX(-50%);">百亿补贴</li>
                    <li style="top: 15%;left: 75%;transform: translateX(-50%);">百亿补贴</li>
                    <li style="top: 25%;left: 25%;transform: translateX(-50%);">百亿补贴</li>
                    <li style="top: 25%;left: 75%;transform: translateX(-50%);">百亿补贴</li>
                </ul>
                <div class="tv"></div>
            </div>
            <div class="col-12"><img src="../public/pot.png" alt=""></div>
            <div class="col-13">
                <div></div>
                <div></div>
            </div>
            <div class="col-14">
                <div></div>
            </div>
            <div class="col-15">
                <div></div>
                <div></div>
            </div>
        </div>
    </div>

    <!-- 4、家具 -->
    <div class="w item-box clearfix" id="jiajv">
        <div class="box-head clearfix">
            <div class="item-title">家具</div>
            <ul type="none">
                <li>
                    <a href="#">厨具</a>
                </li>
                <li>
                    <a href="#">床铺</a>
                    |
                </li>
                <li>
                    <a href="#">盆子</a>
                    |
                </li>
                <li>
                    <a href="#">洁厕灵</a>
                    |
                </li>
                <li>
                    <a href="#">空调</a>
                    |
                </li>
                <li>
                    <a href="#">冰箱</a>
                    |
                </li>
                <li>
                    <a href="#">洗衣机</a>
                    |
                </li>
            </ul>
        </div>
        <div class="box-display">
            <div class="col-11">
                <ul type="none">
                    <li style="top: 5%;left: 25%;transform: translateX(-50%);">百亿补贴</li>
                    <li style="top: 5%;left: 75%;transform: translateX(-50%);">百亿补贴</li>
                    <li style="top: 15%;left: 25%;transform: translateX(-50%);">百亿补贴</li>
                    <li style="top: 15%;left: 75%;transform: translateX(-50%);">百亿补贴</li>
                    <li style="top: 25%;left: 25%;transform: translateX(-50%);">百亿补贴</li>
                    <li style="top: 25%;left: 75%;transform: translateX(-50%);">百亿补贴</li>
                </ul>
                <div class="tv"></div>
            </div>
            <div class="col-12"><img src="../public/pot.png" alt=""></div>
            <div class="col-13">
                <div></div>
                <div></div>
            </div>
            <div class="col-14">
                <div></div>
            </div>
            <div class="col-15">
                <div></div>
                <div></div>
            </div>
        </div>
    </div>

    <!-- 5、服装城 -->
    <div class="w item-box clearfix" id="fuzhuangcheng">
        <div class="box-head clearfix">
            <div class="item-title">服装城</div>
            <ul type="none">
                <li>
                    <a href="#">内衣</a>
                </li>
                <li>
                    <a href="#">男装</a>
                    |
                </li>
                <li>
                    <a href="#">女装</a>
                    |
                </li>
                <li>
                    <a href="#">童装</a>
                    |
                </li>
                <li>
                    <a href="#">泳装</a>
                    |
                </li>
            </ul>
        </div>
        <div class="box-display">
            <div class="col-11">
                <ul type="none">
                    <li style="top: 5%;left: 25%;transform: translateX(-50%);">百亿补贴</li>
                    <li style="top: 5%;left: 75%;transform: translateX(-50%);">百亿补贴</li>
                    <li style="top: 15%;left: 25%;transform: translateX(-50%);">百亿补贴</li>
                    <li style="top: 15%;left: 75%;transform: translateX(-50%);">百亿补贴</li>
                    <li style="top: 25%;left: 25%;transform: translateX(-50%);">百亿补贴</li>
                    <li style="top: 25%;left: 75%;transform: translateX(-50%);">百亿补贴</li>
                </ul>
                <div class="tv"></div>
            </div>
            <div class="col-12"><img src="../public/pot.png" alt=""></div>
            <div class="col-13">
                <div></div>
                <div></div>
            </div>
            <div class="col-14">
                <div></div>
            </div>
            <div class="col-15">
                <div></div>
                <div></div>
            </div>
        </div>
    </div>

    <footer class="clearfix">
        <div class="w">
            <div class="promise clearfix">
                <ul type="none">
                    <li>
                        <div class="zhengpinbaozhang"></div>
                        <h4 style="margin-bottom: 0;">正品保障</h4>
                        <p style="margin-top: 5px;">正品保障，提供发票</p>
                    </li>
                    <li>
                        <div class="peisongjishi"></div>
                        <h4 style="margin-bottom: 0;">配送及时</h4>
                        <p style="margin-top: 5px;">配送及时，七日包到</p>
                    </li>
                    <li>
                        <div class="pinzhibaozhang"></div>
                        <h4 style="margin-bottom: 0;">品质保障</h4>
                        <p style="margin-top: 5px;">品质保障，假一赔十</p>
                    </li>
                    <li>
                        <div class="qingsonggouwu"></div>
                        <h4 style="margin-bottom: 0;">轻松购物</h4>
                        <p style="margin-top: 5px;">轻松购物，优化体验</p>
                    </li>
                </ul>
            </div>
            <hr>
            <ul type="none" class="service-entry clearfix">
                <li>
                    <h3>服务指南</h3>
                    <p><a href="#">购物流程</a></p>
                    <p><a href="#">会员介绍</a></p>
                    <p><a href="#">常见问题</a></p>
                    <p><a href="#">大家电</a></p>
                    <p><a href="#">联系客服</a></p>
                </li>
                <li>
                    <h3>服务指南</h3>
                    <p><a href="#">购物流程</a></p>
                    <p><a href="#">会员介绍</a></p>
                    <p><a href="#">常见问题</a></p>
                    <p><a href="#">大家电</a></p>
                    <p><a href="#">联系客服</a></p>
                </li>
                <li>
                    <h3>服务指南</h3>
                    <p><a href="#">购物流程</a></p>
                    <p><a href="#">会员介绍</a></p>
                    <p><a href="#">常见问题</a></p>
                    <p><a href="#">大家电</a></p>
                    <p><a href="#">联系客服</a></p>
                </li>
                <li>
                    <h3>服务指南</h3>
                    <p><a href="#">购物流程</a></p>
                    <p><a href="#">会员介绍</a></p>
                    <p><a href="#">常见问题</a></p>
                    <p><a href="#">大家电</a></p>
                    <p><a href="#">联系客服</a></p>
                </li>
                <li>
                    <h3>服务指南</h3>
                    <p><a href="#">购物流程</a></p>
                    <p><a href="#">会员介绍</a></p>
                    <p><a href="#">常见问题</a></p>
                    <p><a href="#">大家电</a></p>
                    <p><a href="#">联系客服</a></p>
                </li>
                <li>
                    <h3>帮助中心</h3>
                    <p><a href="#">点我进入云裳集帮助中心</a></p>
                </li>
            </ul>
    
            <hr>
    
            <div class="information">
                <p class="more-help"><a href="#">关于我们</a> | <a href="#">联系我们</a> | <a href="#">联系客服</a> | <a href="#">商家入驻</a> | <a href="#">English Stie</a></p>
                <br>
                <p class="contact">地址：XXXXXXX 邮编：XXXXXXX 电话:XXXXXX 传真：XXXXX 邮箱：XXXXX</p>
                <p class="contact">备案号：X省ICP备XXXXXXXX号</p>
            </div>
        </div>
        
    </footer>
</body>

</html>